* {
  font-family: 'Poppins', sans-serif;
}

.primary-bg {
  background-color: #00C6D4;
}

#primarybtn {
  background-color: #00C6D4;
  color: rgb(255, 255, 255);
}

#primarybtn:hover {
  background-color: #00a5b1;
  color: rgb(255, 255, 255);
}

.primary-btn-bg {
  background-color: #00C6D4;
}

.primary-btn-bg:hover {
  background-color: #00abb8;
}

.primary-text {
  color: #00C6D4;
}

#link {
  color: #00a5b1;
  text-decoration: none;
}

#links {
  text-decoration: none;
}

.money-color {
  color: #76B404;
}

.money-bg {
  background-color: #76B404;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#authcard {
  width: 500px;
}

.card {
  border-Radius: 8;
  color: '#fff';
}

;
.balanceCard {
  background: 'linear-gradient(135deg, #F6BD60 0%, #DAA520 100%)',
}

;
.dataCard {
  background: 'linear-gradient(135deg, #1CB5E0 0%, #000851 100%)',
}

;
.icon {
  font-Size: 40;
}

;